<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
        <script src="./lib/vue-2.4.0.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="fristname">+
            <input type="text" v-model="lastname">=
            <input type="text" v-model="fullname">
            <p>{{fullname}}</p>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    fristname:'',
                    lastname:'',
                   
                },
                methods:{ 
                    // getFullname() {
                    //     this.fullname=this.fristname+'-'+this.lastname
                    // }
                },
                computed: {
                    'fullname':function(){
                        console.log('ok')
                        return this.fristname+'-'+this.lastname
                    }
                },
                // watch: {
                //     'fristname' :function(newVal,oldVal){
                //         this.fullname=newVal+this.lastname
                //     },
                //     'lastname':function(newVal,oldVal){
                //         this.fullname=fristname+'-'+newVal
                //     }
                // },

                
            })
        </script>
    </body>
</html>