
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
    <script src="./lib/vue-resource-1.3.4.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加英雄</h3>
            </div>
            <div class="panel-body form-inline">
                
                <!-- <label>name: <input type="text" class="form-control" v-model="name" @keyup.enter="add" v-color="'green'"></label> -->
                <label>name: <input type="text" class="form-control" v-model="name"  @keyup.enter="add"></label>
                <input type="button" value="添加" class="btn btn-primary" @click="add">
              
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>ctime</td>
                    <td>Operation</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, i) of list">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dataForm()}}</td>
                    <!-- <td>{{item.ctime}}</td> -->
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        Vue.http.options.root='http://vue.lovegf.cn:8899/'
        Vue.http.options.emulateJSON=true
        Vue.filter('dataForm',function(datastr,patter=''){
            let dt=new Date(datastr)
            let y=dt.getFullYear()
            let m=dt.getMonth()+1
            let d=dt.getDate()
            if(patter.toLowerCase()=== 'yyyy-mm-dd'){
                return `${y}-${m}-${d}`
            }else{
                let h=dt.getHours()
                let mm=dt.getMinutes()
                let s=dt.getSeconds()
                return `${y}-${m}-${d} ${h}:${mm}:${s}`
            }
        })
        // Vue.directive('focus',{
        //     binding(el){

        //     },
        //     inserted(el){
        //         el.focus()
        //     },
        //     updated(el) {
                
        //     },
        // })
        let vm=new Vue({
            el:'#app',
            data:{
                name:'',
               list:[] 
            },
            created() {
                this.getAlllist()
            },
            methods:{
                getAlllist(){
                    this.$http.get('api/getprodlist').then(result=>{
                        // console.log(result.body);
                        let data=result.body.message
                        this.list=data.splice(data.length-50,data.length)
                    })
                },
                add(){
                    this.$http.post('api/addproduct',{name:this.name}).then(result=>{
                        this.getAlllist()
                        this.name=''
                    })
                },
                del(id){
                    // this.list.splice(id,1)
                    this.$http.get('api/delproduct/'+id).then(result=>{
                        this.getAlllist()
                    })
                }
            }
        })
    
    
    </script>
</body>

</html>